		html,
		body {
			width:350px;
			/*height: 300px;*/
		}
		body {
			margin:0;
			padding:5px;
		}
		
		/* The overall page */
		div#holder {
		 	margin: 0;
		 	padding: 0;
			width: 90%;
			height:100%;
			min-height:100%;
			background-color:white;
			font-family: Arial;
			font-size: 14px;
		}
		
		/* The div for the title */
		div#Title {
			width: 100%;
			font: normal 14px Verdana;	
			border: 1px dotted black;
			padding: 10px;
			line-height: 20px;
			background-color: #f6fff7;
		}

		/* Title link */
		a:link#link {
			text-decoration: none;
			color: blue;
			border-bottom: 1px dotted #ff5353;
			/* font: normal 9px Verdana; */
		}
		
		a:hover#link {
			text-decoration: underline;
			border-bottom: 1px dashed #ff5353;
			/* font: normal 9px Verdana; */
		}
		
		a:visited#link {
			text-decoration: none;
			color: blue;
			border-bottom: 1px dashed #ff5353;
			/* font: normal 9px Verdana; */
		}
		
	
		/* The div for the comment */
		div#lastcomment {
			width: 100%;
			/*height: 100%;*/
			background-color: #f1f1f1;
			padding-top: 0px;
			padding-right: 10px;
			padding-left: 10px;
			padding-bottom: 10px;
			line-height: 21px;
			/*border: 1px solid #eaffff;*/
		}
		
		div#lastcomment2 {
			font-style: italic;
			font: 14px "Courier New", Courier, monospace;
		}
		
		/* Padding */
		div#somepadding {
			height: 8px;
		}