* {
	margin: 0;
}

html,
body {
	width: 95%;
	align: center;
	min-width: 80%;
	/*height: 300px;*/
}
body {
	margin-top: 15px;
	padding:5px;
	min-width: 80%;
}

/* The overall page */
div#holder {
	margin-left: 5%;
	padding: 0;
	width: 100%;
	height:100%;
	min-height:100%;
	min-width: 770px;
	background-color:white;
	text-align: center;
	font-family: Arial;
	font-size: 14px;
}



/* Timed Deletion objects */
div#timedDeletion {
	/*margin-left: 5%;*/
	height: 15%;
	text-align: left;
	/*padding: 10px;*/
	padding-bottom: 60px;
	line-height: 35px;
	background: #edf3fb;
	border-radius: 6px;
}

div#timeClass{
	padding-left: 20px;
}

div#timedHeader {
	background: #d1edf0;
	padding-left: 8px;
	font-size: 16px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	text-shadow: #E8E8E8 2px 2px 0;
}

i#timeItalics {
	font-size: 15px;
}

div#timeObjects {
	padding-left: 30px;
	margin-top: 1%;
}



/* Filters */
div#filterToggle {
	font: 15px;
	background: #fbe5b0;
	float: left;
	padding-bottom: 10px;
	padding-left: 8px;
	padding-top: 10px;
	width: 100%;
	text-align: left;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	font-size: 16px;
	text-shadow: #E8E8E8 2px 2px 0;
}

#filterToggle::selection {
	color: black;
	background: white;
	text-shadow: black 0px 0px 0;
}

/* Button design for toggle */
input.toggle {
	font: bold 15px Verdana;
	width: 35px;
	height: 25px;
	/*padding: 0px;
	padding-left: 2px;
	padding-right: 2px;
	background-color: white;
	border: 1px double blue;
	color: blue;*/
	
}

#Filters {
	/*position: relative;*/
	/*margin-top: 40px;*/
	width: 100%;
	height: 240px;
	display: none;
	float: left;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 40px;
	background: #edf3fb;
}

/* Filters left */
#AddFilters {
	/*margin-top: 10px;*/
	float: left;
	text-align: left;
	width: 50%;
	height: 100%;
	line-height: 20px;
}

/* Filters right */
#DeleteFilters {
	margin-top: 10px;
	margin-right: 30px;
	float: right;
	text-align: right;
	width: 45%;
	border-left: 1px solid #ccc;
	height: 100%;
}

#fText {
	text-align: center;
	font-size: 18px;
}

/* Table */
#hor-minimalist-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 15px;
	background: #fff;
	margin: 10px;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}

#hor-minimalist-b th
{
	font-size: 17px;
	text-align: center;
	font-weight: normal;
	height: 30px;
	color: #039;
	padding: 10px;/* 10px 8px; */
	border-bottom: 2px solid #6678b1;
	border-left: 1px solid white;
}

#hor-minimalist-b td
{
	border-bottom: 1px solid #ccc;
	font-size: 13px;
	color: black;/*#669;*/
	padding: 6px 8px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	font-family: Arial, Helvetica, sans-serif;
}

#hor-minimalist-b tbody tr:hover td
{
	color: #009;
	background-color: #f0f4ff;
}
	

th {
	border-bottom: 3px solid #1c1eff;
	font-family: Helvetica;
	background-color: #d7d9ff;
	padding: 5px;
}

td {
	font-family: Verdana;
	font-size: 10px;
}


/* View all comments */
div#allcomments {
	width: 100%;
	font: normal 10px Verdana;	
	border: 1px dotted #ffe58a;
	padding: 4px;
	padding-right: 11px;
	line-height: 20px;
	background-color: #fff1c1;
	text-align: center;
	color: black;
	text-decoration: none;
}


/* The buttons */
div#Buttons {
	text-align: left;
	padding: 15px;
	padding-top: 40px;
}



/* Button design for filters */
input.filterbuttons {
	font: normal 12px Arial;	
	padding: 5px;
	background-color: navy;
	border: 1px double black;
	color: white;
	border-radius: 6px;
}

input.filterbuttons:hover {
	background-color: maroon;
	color: white;
}

/* Button design for delete */
input.delete {
	font: normal 15px Arial;	
	padding: 5px;
	background-color: grey;
	border: 1px double black;
	color: white;
	border-radius: 6px;
}

input.delete:hover {
	background-color: maroon;
	color: white;
}

/* The div for the title */
div#Title {
	width: 100%;
	font: normal 20px "MS Sans Serif", Geneva, sans-serif;	
	border: 2px solid #d5d5d5;
	padding: 12px;
	line-height: 20px;
	background-color: #ececec;
	border-radius: 9px;
	letter-spacing: 2px;
	color: #530000;
}

.footer, .push {
	
	margin-top: 50px;
	height: 60px;
	font: normal 10px Verdana;	
	font-style: italic;
}