html,
body {
	width: 90%;
	align: center;
	/*height: 300px;*/
}
body {
	margin-top: 15px;
	padding:5px;
}

/* The overall page */
div#holder {
	margin-left: 5%;
	padding: 0;
	width: 900px;
	height:100%;
	min-height:100%;
	min-width: 80%;
	background-color:white;
	text-align: center;
	font-family: Arial;
	font-size: 14px;
}

/* Table */
#hor-minimalist-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 15px;
	background: #fff;
	margin: 10px;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}

#hor-minimalist-b th
{
	font-size: 17px;
	text-align: center;
	font-weight: normal;
	height: 30px;
	color: #039;
	padding: 10px 8px 8px;
	border-bottom: 2px solid #6678b1;
	border-left: 1px solid white;
}

#hor-minimalist-b td
{
	border-bottom: 1px solid #ccc;
	font-size: 13px;
	color: black;/*#669;*/
	padding: 6px 8px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

#hor-minimalist-b tbody tr:hover td
{
	color: #009;
	background-color: #f0f4ff;
}
	

th {
	border-bottom: 3px solid #1c1eff;
	font-family: Helvetica;
	background-color: #d7d9ff;
	padding: 5px;
}

td {
	font-family: Verdana;
	font-size: 10px;
}


/* View all comments */
div#allcomments {
	width: 100%;
	font: normal 10px Verdana;	
	border: 1px dotted #ffe58a;
	padding: 4px;
	padding-right: 11px;
	line-height: 20px;
	background-color: #fff1c1;
	text-align: center;
	color: black;
	text-decoration: none;
}


/* The buttons */
div#Buttons {
	text-align: left;
	padding: 15px;
}

/* Button design */
input.delete {
	font: normal 15px Arial;	
	padding: 5px;
	background-color: grey;
	border: 1px double black;
	color: white;
	border-radius: 6px;
}

input.delete:hover {
	background-color: maroon;
	color: white;
}

/* The div for the title */
div#Title {
	width: 100%;
	font: normal 18px Verdana;	
	border: 1px solid #d5d5d5;
	padding: 10px;
	line-height: 20px;
	background-color: #d9d9d9;
	border-radius: 12px;
}

.push {
	height: 4em;
}

.footer {
	margin-top: 100%;
}